## Sequential Data Types

- List
- Tuple
- Sets
- Dict

## Tuples

In [3]:
tuple1 = (1,2,3,4)
tuple2 = ('A','B','C','D',1,2,3,4.5)

In [5]:
tuple2[5]

2

In [6]:
tuple2[-1]

4.5

In [7]:
tuple3 = ('a','b',[1,2,3,5.5,7.8,'a','b'],'aa')

In [8]:
tuple3[2][4]

7.8

In [9]:
tup = ('mustafa','fa-22/bscs/188','bscs',+923244164341,'mustafamalikawan786@gmail.com',[['Ai Lab','Ai Theory'],'Digital Image Processing','Game Development',['Networks Lab','Networks Theory']])

In [10]:
tup

('mustafa',
 'fa-22/bscs/188',
 'bscs',
 923244164341,
 'mustafamalikawan786@gmail.com',
 [['Ai Lab', 'Ai Theory'],
  'Digital Image Processing',
  'Game Development',
  ['Networks Lab', 'Networks Theory']])

In [11]:
tup[0]

'mustafa'

In [12]:
tup[5][2]

'Game Development'

In [13]:
tup[5][0][0]

'Ai Lab'

In [14]:
tup[5][3][0]

'Networks Lab'

[['Ai Lab', 'Ai Theory']]

In [54]:
print(tup[5][0:4])

[['Ai Lab', 'Ai Theory'], 'Digital Image Processing', 'Game Development', ['Networks Lab', 'Networks Theory']]

In [55]:
tup

('mustafa',
 'fa-22/bscs/188',
 'bscs',
 923244164341,
 'mustafamalikawan786@gmail.com',
 [['Ai Lab', 'Ai Theory'],
  'Digital Image Processing',
  'Game Development',
  ['Networks Lab', 'Networks Theory']])

In [73]:
tup

('mustafa',
 'fa-22/bscs/188',
 'bachelors',
 'bscs',
 923244164341,
 'mustafamalikawan786@gmail.com',
 [['Ai Lab', 'Ai Theory'],
  'Digital Image Processing',
  'Game Development',
  ['Networks Lab', 'Networks Theory']])

In [66]:
tup1 = list(tup)

In [67]:
type(tup1)

list

In [69]:
tup1.insert(2,'bachelors')

In [70]:
tup = tuple(tup1)

In [71]:
tup

('mustafa',
 'fa-22/bscs/188',
 'bachelors',
 'bscs',
 923244164341,
 'mustafamalikawan786@gmail.com',
 [['Ai Lab', 'Ai Theory'],
  'Digital Image Processing',
  'Game Development',
  ['Networks Lab', 'Networks Theory']])

In [72]:
type(tup)

tuple

In [80]:
tup1[6].insert(1,'os lab')

In [78]:
print(tup1)

['mustafa', 'fa-22/bscs/188', 'bachelors', 'bscs', 923244164341, 'mustafamalikawan786@gmail.com', [['Ai Lab', 'Ai Theory'], 'Digital Image Processing', 'Game Development', ['Networks Lab', 'Networks Theory']]]

## TUPLE UNPACKING

In [81]:
t1 = ('roman','dean','seth','lesnar','cena')

In [83]:
var1,var2,var3,var4,var5 = t1

In [94]:
varx,vary = t1 # worked in 3.8,3.7

ValueError: too many values to unpack (expected 2)

In [ ]:
x,*y = t1 # all remaining will go in y

In [88]:
print(y)

['dean', 'seth', 'lesnar', 'cena']

In [90]:
var1,*var2,var3 = t1 # 1st will go to var1, var3 will have the last one and var2(*) will have all the reamaining values

In [92]:
print(var2)

['dean', 'seth', 'lesnar']

## TUPLE CONCATENATION

In [97]:
type(tuple1)

tuple

In [98]:
tuple_con = tuple1 + tup

In [99]:
tuple_con

(1,
 2,
 3,
 4,
 'mustafa',
 'fa-22/bscs/188',
 'bachelors',
 'bscs',
 923244164341,
 'mustafamalikawan786@gmail.com',
 [['Ai Lab', 'Ai Theory'],
  'os lab',
  'Digital Image Processing',
  'Game Development',
  ['Networks Lab', 'Networks Theory']])

### Note:
        for list : we do list = [a,b,c]
        then list*2 = [a,a,b,b,c,c]

        for tuple: tuple = (a,b,c)
        then tuple*2 = (a,b,c,a,b,c)

In [103]:
tupleDub = tuple_con * 2
print(tupleDub)

(1, 2, 3, 4, 'mustafa', 'fa-22/bscs/188', 'bachelors', 'bscs', 923244164341, 'mustafamalikawan786@gmail.com', [['Ai Lab', 'Ai Theory'], 'os lab', 'Digital Image Processing', 'Game Development', ['Networks Lab', 'Networks Theory']], 1, 2, 3, 4, 'mustafa', 'fa-22/bscs/188', 'bachelors', 'bscs', 923244164341, 'mustafamalikawan786@gmail.com', [['Ai Lab', 'Ai Theory'], 'os lab', 'Digital Image Processing', 'Game Development', ['Networks Lab', 'Networks Theory']])

In [104]:
tup.count('mustafa')

1

In [106]:
tup.index('bscs')

3

## SETS

In [113]:
set1 = {1,0,2}
set2 = {True, False, 'ok'}

In sets: 
    - True = 1
    - False = 0

### Union and Intersection

In [115]:
set3 = set1.union(set2)
print(set3)

{0, 1, 2, 'ok'}

In [116]:
set4 = set1.intersection(set2)
print(set4)

{False, True}

In [118]:
union = set1 | set2
print(union)

{0, 1, 2, 'ok'}

In [119]:
intersection = set1 & set2
print(intersection)

{False, True}