In [1]:
str = 'mustafa'

str.isalnum()

True

In [2]:
str * 2

'mustafamustafa'

In [4]:
ok = [1,2,3]

In [8]:
if not(False or True):
    print('true')
else:
    print('false')

false

In [10]:
str.count('a')

0

In [14]:
num = 2
if (num%2 == 0):
    print("even")
else:
    print("odd")

even

In [15]:
set1 = {1,2,3}

if 2 in set1:
    print(set1)

{1, 2, 3}

In [16]:
set2 = {2,3}

set1.intersection(set2)

{2, 3}

In [17]:
print(set1)

{1, 2, 3}

In [18]:
str = "mustfa is a good boy"

In [22]:
splited = str.split()
print(splited)

['mustfa', 'is', 'a', 'good', 'boy']

In [23]:
l = [1,2,3,4,5]

In [27]:
min(l)
max(l)

5

In [28]:
l[-1]

5

In [2]:
set1 = {1,2,3}

In [22]:
set1.add(5)
set1.discard(3)
print(set1)

{1, 2, 5}

In [5]:
dic1 = {"age":12,"name":"mustafa","aana":True,"bad":False}

In [6]:
dic1["age","aana"]

KeyError: ('age', 'aana')

In [8]:
t = ("a",)

In [9]:
type(t)

tuple

In [10]:
c = ("b")
type(c)

str

In [11]:
str1 = "msusgdsu"
str2 = "dww"

In [12]:
str1.join(str2)

'dmsusgdsuwmsusgdsuw'

In [13]:
str1

'msusgdsu'

In [15]:
sorted([3,2,7,4])

[2, 3, 4, 7]

In [17]:
x =11
if (x>=10 and x<=20): print("true")

true

In [29]:
"mustafafafafa".count("afa")

2

In [ ]:
print(5,6,7,sep='-')
print("mustafafafafa".count("afa"))

5-6-7

In [31]:
id(x)

11754216

In [32]:
l.remove(1)

NameError: name 'l' is not defined

In [34]:
l = [1,2,3,4]

In [35]:
l.remove(2)

In [36]:
name  = list(tuple)

TypeError: 'type' object is not iterable

In [37]:
strin1 = "mustafa"
strin1+="a"
print(strin1)

mustafaa

## SWAP TWO VALUES WITHOUT THIRD VARIABLE

### XOR METHOD:

In [3]:
a = 5
b = 6
a = a^b
print('a = a^b:', a)
b = a^b
print('b = a^b:', b)
a = a^b
print('a = a^b:', a)

print(f'After Swap:\n a = {a}\n b = {b}')

a = a^b: 3
b = a^b: 5
a = a^b: 6
After Swap:
 a = 6
 b = 5

### ARTHEMATIC METHOD:

In [7]:
x = 3
y = 2
print(f'Before Swap:\n x = {x}\n y = {y}')

print("Swapping: ")
x = x + y
print(" x = x + y : ",x)

y = x - y
print(" y = x - y : ",y)

x = x - y
print(" x = x - y : ",x)

print(f'After Swap:\n x = {x}\n y = {y}')

Before Swap:
 x = 3
 y = 2
Swapping:
 x = x + y :  5
 y = x - y :  3
 x = x - y :  2
After Swap:
 x = 2
 y = 3