# LOOPS:

### FOR LOOP:

In [1]:
mullahs = ['Engineer','MTJ','GHamdi','Taqi','Tariq Masood']

for mullah in mullahs:
    print(mullah)

Engineer
MTJ
GHamdi
Taqi
Tariq Masood

In [7]:
for i in range(5):
    print(mullahs[i])

Engineer
MTJ
GHamdi
Taqi
Tariq Masood

In [8]:
numbers = [1,2,3,4,5,6]

for number in numbers:
    print(number)

1
2
3
4
5
6

In [9]:
fruits = ['apple','orange','banana','grapes','mango','watermelon','melon']

for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
mango
watermelon
melon

In [10]:
for fruit in fruits:
    print(fruit)
else:
    print(fruit)

apple
orange
banana
grapes
mango
watermelon
melon
melon

In [19]:
num = int(input("ENTER A NUMBER: "))

for i in range(1,11):
    print(f"{num} x {i} = {num*i}")
    print("----------")

3 x 1 = 3
----------
3 x 2 = 6
----------
3 x 3 = 9
----------
3 x 4 = 12
----------
3 x 5 = 15
----------
3 x 6 = 18
----------
3 x 7 = 21
----------
3 x 8 = 24
----------
3 x 9 = 27
----------
3 x 10 = 30
----------

In [14]:
num = int(input("ENTER A NUMBER: "))
nums = [1,2,3,4,5,6,7,8,9,10]
for i in nums:
    print(f"{num} x {i} = {num*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [15]:
for fruit in range(0,5,2):
    print(fruits[fruit])

apple
banana
mango

In [16]:
for i in range(0,10,2):
    print(i)

0
2
4
6
8

In [49]:
for i in range(6):
    for j in range(i):
        print('*', end='')
    print("\n")

*

**

***

****

*****

In [48]:
i = int(input("ENTER A NUMBER: "))
fact = i
for j in range(1,i-1):
    fact += fact*j

print(fact)

720

In [33]:
def fictorial(n):
    if(n==0):
        return 1
    else:
        return n * fictorial(n-1)

In [34]:
print(fictorial(5))

120

In [37]:
for fruit in range(len(fruits)-1,-1,-1):
    print(fruits[fruit])

melon
watermelon
mango
grapes
banana
orange
apple

In [47]:
i = int(input("ENTER A NUMBER: "))
fact = i
for j in range(i-2,0,-1):
    print(f'{fact}*{j}')
    fact += fact*j
    print(f'{fact}*{j}')
print(fact)

5*3
20*3
20*2
60*2
60*1
120*1
120

In [50]:
n = int(input("ENTER A NUMBER: "))
fact = 1
for i in range(2,n+1):
    fact = fact*i

print(fact)

120

In [55]:
lis = []

for i in range(11):
    num = int(input("Enter A Number: "))
    lis.append(num)
    if(num%2  == 0):
        print(f'{lis[i]} is even')
    else:
        print(f"{lis[i]} is odd")

5 is odd
4 is even
32 is even
5 is odd
6456 is even
534534 is even
435345 is odd
66565 is odd
343 is odd
4534534 is even
34523 is odd