# LOOPS:

### FOR LOOP:

In [1]:
mullahs = ['Engineer','MTJ','GHamdi','Taqi','Tariq Masood']

for mullah in mullahs:
    print(mullah)

Engineer
MTJ
GHamdi
Taqi
Tariq Masood

In [7]:
for i in range(5):
    print(mullahs[i])

Engineer
MTJ
GHamdi
Taqi
Tariq Masood

In [8]:
numbers = [1,2,3,4,5,6]

for number in numbers:
    print(number)

1
2
3
4
5
6

In [9]:
fruits = ['apple','orange','banana','grapes','mango','watermelon','melon']

for fruit in fruits:
    print(fruit)

apple
orange
banana
grapes
mango
watermelon
melon

In [10]:
for fruit in fruits:
    print(fruit)
else:
    print(fruit)

apple
orange
banana
grapes
mango
watermelon
melon
melon

In [13]:
num = int(input("ENTER A NUMBER: "))

for i in range(1,11):
    print(f"{num} x {i} = {num*i}")

2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20